@font-face {
    font-family:"avengers";
    src: url("avengers.ttf") format('opentype');
}
*
{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;;
}
body
{
    position: relative;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5;
    line-height: 1.5rem;
    font-variant: small-caps;
    font-weight: 700;
    background-color: rgb(255, 255, 255);
}
.container1
{
    display: flex;
    background-image:url("/img/manoplaback.gif");
    background-repeat: repeat;
    background-position:-50%;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(20, 0, 77);
    position: relative;
    box-shadow: 5px 5px 10px rgb(206, 168, 0);
    border: solid;
    border-width: 0.5rem;
    border-style: ridge;
    border-color: rgb(226,156,57);
}
p
{
   margin-top: 3rem;
}
.h1
{
    display: flex;
    justify-content: space-around;
    border: solid #ffd900a1;
    border-style:double;
    border-width: 0.5rem;
    border-image-repeat: round;
    padding-left: 2rem;
    line-height: 3.5rem;
    letter-spacing: 2px;
    line-height: 4rem;
    color:rgb(184,91,42);
    font-family: "avengers";
    text-align: center;
    font-size: calc(1.8rem + 1vw);
    background-color: rgb(20, 0, 77);
    position:relative;
    width: 50%;
}
#img
{
    width: 100%;
}
h2
{
    font-family: "avengers";
    letter-spacing: 2px;
    text-align: center;
    justify-content: center;
    display: flex;
    position: relative;
}
.avengers
{
    margin-right: 1rem;
    margin-bottom: 1rem;
    float: left;
    margin-top: 1rem;
    position:relative;
}
#youtube
{
    width: 10%;
    left: 0%;
    bottom: 5%;
    border: solid rgb(255, 0, 0);
    border-radius: 10rem;
    z-index: 1;
    position:fixed;
}
#youtube:hover
{
    cursor: pointer;
}
section
{
    margin-left: 1.5rem;
}
@media (max-width : 1440px)
{
    #sol
    {
        width: 50%;
    }
    #uvapassa
    {
        width: 50%;
    }
    #iron
    {
        width: 50%;
    }
    #strange
    {
        width: 30%;
    }
    #thor
    {
        width: 50%;
    }
    #gamora
    {
        width: 50%;
    }
    section
    {
        width: 95vw;
        height: 100vh;
    }
    #img
    {
        width:10%;
    }
    #img1
    {
        width: 50%;
    }
    h1
    {
        padding-left: 2rem ;
    }
    .avengers
    {
        width: 50%;
    }
    #thanos
    {
        margin-top: 8rem;
    }
}
@media(max-width : 1024px)
{
    #sol
    {
        width: 70%;
    }
    #iron
    {
        width: 60%;
    }
    #strange
    {
        width: 60%;
    }
    #thor
    {
        width: 60%;
    }
    #gamora
    {
        width:60% ;
    }
    #uvapassa
    {
        width: 70%;
    }
    section
    {
        width: 150vw;
        height: 100vh;
    }
    .h1
    {
        width:65%;
    }
    .container1
    {
        width: 160%;
    }
    #img
    {
        width: 20%;
    }
    #thanos
    {
        margin-top: 2rem;
    }
    #video
    {
        width: 100%;
    }
    #youtube
    {
        width: 30%;
    }
}
@media (max-width : 720px)
{
    #thanos
    {
        margin-top: 5rem;
    }
    .avengers
    {
        width: 100%;
    }
    h1
    {
        padding-left: 20rem;
    }
}
#video
{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    bottom: 20%;
    z-index: 0;
    position:fixed;
    display: none;
}
#enredo
{
    position: absolute;
}
#enredo
{
    margin-top: 10rem;
    letter-spacing: 3px;
    font-family: "Avengers";
    position: relative;
    font-size: 2rem;
}
#div1
{
    margin-bottom: 1rem;
}
#miranhadiv
{
    margin-top: 3rem;
}
#pmiranha
{
    margin-bottom: 1rem;
}
#miranha
{
    display: flex;
    margin: 0% auto;
    margin-bottom: 2rem;
}
.lema
{
    display: block;
}
#lemaimg
{
    width: 55%;
}
#strange
{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
#gamora
{
    margin-top: 1rem;
    margin-bottom: 2rem;
}
#thor
{
    margin-bottom: 2rem;
    margin-top: 1rem;
}
#iron
{
    margin-top: 1rem;
    margin-bottom: 2rem;
}
#uvapassa
{
    margin-bottom: 2rem;
    margin-top: 1rem;
}
#ppo
{
    margin-bottom: 1rem;
}
#psol
{
    margin-bottom: 1rem;
}